.form-control {
  height: 20px;
}
label {
  color: floralwhite;
}
.submit {
  border-color: floralwhite !important;
}

.submit {
  width: 150px !important;
  padding: 0px !important;
}
.click {
  border-color: floralwhite;
  font-size: 12px;
  padding-bottom: 20px;
  margin-left: 40px;
  height: 25px;
  margin-top: 25px;
}
